<h1>ようこそ</h1>
<p>トップページです。</p>

<% if user_signed_in? %>
<h2>現在ログインしています</h2>
<h2>ユーザー名:</h2>
<h2><%= current_user.username%></h2>
<br>
<%= link_to '車だし管理表', excels_path %>


<% else %>
    <h2>現在ログインしていません。ログインしてください。</h2>
<% end %>